<ion-content fullscreen>
  <ion-grid class="container" style="padding: 0">
    <div class="el-wrapper">
      <div class="el-center" (click)="welcome()">
        <div><img src="assets/img/logo-nikav2.png" /></div>
      </div>
      <div class="el-bottom">
        <ion-grid>
          <ion-row>
            <ion-col>
              <!--  <img src="assets/img/logito-footer.png" /> -->
            </ion-col>
          </ion-row>
        </ion-grid>

        <!--  <img src="assets/img/logocofide.png" /> -->
      </div>
    </div>
  </ion-grid>
</ion-content>
