<ion-content class="login">
  <div class="wraper-container">
    <div class="el-wrapper">
      <div class="el-center">
        <div style="text-align: center">
          <img height="150px" src="assets/img/logo-nikav2.png" />
        </div>
      </div>
    </div>
    <h2 style="padding-bottom: 24px" class="ion-text-center welcome-title">
      ¿Olvidaste tu contraseña?
    </h2>
    <h2 class="ion-text-center txt-sub" style="padding-bottom: 24px">
      Indicanos tu nueva contraseña y continua el procedimiento.
    </h2>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      "
    >
      <form
        style="width: 100%"
        [formGroup]="sendForm"
        (ngSubmit)="validarPass()"
      >
        <div
          style="
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
          "
        >
          <ion-item class="itm-input">
            <app-password>
              <ion-input
                required
                maxlength="50"
                formControlName="password"
                type="password"
                placeholder="Contraseña"
              ></ion-input
            ></app-password>
          </ion-item>

          <ion-item class="itm-input">
            <app-password>
              <ion-input
                formControlName="confirmpassword"
                type="password"
                placeholder="Contraseña"
                required
                maxlength="50"
              ></ion-input
            ></app-password>
          </ion-item>
        </div>
        <div class="ion-text-center">
          <button expand="block" type="submit" class="btn-empezar">
            Confirmar
          </button>
        </div>
        <br />
      </form>
    </div>
  </div>
</ion-content>
