<ion-content>
  <ion-slides>
    <ion-slide class="slide-bg" style="display: flex">
      <div class="slide">
        <h2>Welcome</h2>
        <p style="color: white">
          The is a practical preview of the ionic framework in action, and a
          demonstration of proper code use.
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide-bg2" style="display: flex">
      <div class="slide">
        <h2>Welcome</h2>
        <p style="color: white">
          The is a practical preview of the ionic framework in action, and a
          demonstration of proper code use.
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide-bg3" style="display: flex">
      <div class="slide">
        <h2>Welcome</h2>
        <p style="color: white">
          The is a practical preview of the ionic framework in action, and a
          demonstration of proper code use.
        </p>
      </div>
    </ion-slide>
    <ion-slide class="slide-bg3" style="display: flex">
      <div>
        <h2>¿Estás listo para comenzar?</h2>
        <ion-button fill="clear" style="color: white" (click)="entraLogin()"
          >Continuar <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="wave1"></div>
  <div class="wave2"></div>
</ion-content>
