<ion-app>
  <ion-menu
    side="start"
    menuId="mprincipal"
    contentId="main"
    [swipeGesture]="false"
  >
    <ion-content class="contentmenu">
      <div class="userdata">
        <div class="user-profile">
          <ion-avatar *ngIf="_sGenerales.user">
            <img [src]="_sGenerales.user.path" />
          </ion-avatar>
          <ion-label class="username" *ngIf="_sGenerales.user">{{
            _sGenerales.user.name
          }}</ion-label>
          <!-- <ion-label class="useremail" *ngIf="_sGenerales.user">{{
            _sGenerales.user.email
          }}</ion-label> -->
        </div>
        <div class="medals-profile">
          <ion-buttons class="btnedit" slot="end" (click)="editarPerfil()">
            <span class="linkedit">Editar perfil</span>
          </ion-buttons>
          <div class="medals" *ngIf="_sGenerales.medals >= 0">
            <img
              *ngFor="let item of [].constructor(_sGenerales.medals)"
              src="../assets/img/Grupo 953.png"
              alt=""
            />
            <img src="../assets/img/Grupo 1090.png" alt="" />
            <img src="../assets/img/Grupo 1090.png" alt="" />
            <img src="../assets/img/Grupo 1090.png" alt="" />
          </div>
          <div class="divnivel">
            <ion-label class="nivel">Nivel "Ordena las cuentas"</ion-label>
          </div>
        </div>
      </div>
      <div class="userdata">
        <ion-label class="useremail" *ngIf="_sGenerales.user">{{
          _sGenerales.user.email
        }}</ion-label>
      </div>
      <div class="imgmenu">
        <img class="imgstatic" src="../assets/img/menu_statistic.png" alt="" />
        <button (click)="abrirSimu()" mat-stroked-button class="btn-simulador">
          Ingresa al comparador
        </button>
        <button (click)="abrirOldHistory()" mat-stroked-button class="btn-tips">
          Tips y Videos
        </button>
      </div>
      <div>
        <div class="list-items">
          <div *ngFor="let item of items">
            <div>
              <div class="line-nivel">
                <div class="items-nivel"></div>
                <ion-label class="nivel-text">{{ item.nivel }}</ion-label>
              </div>
              <div
                class="list-item"
                [ngClass]="{ 'item-disabled': opc.disabled }"
                *ngFor="let opc of item.opciones"
                (click)="clickLink(opc.link)"
              >
                <div class="icon-circle">
                  <ion-icon name="{{ opc.icon }}" slot="start"></ion-icon>
                </div>
                <ion-label class="opc-name">{{ opc.name }}</ion-label>
              </div>
            </div>
          </div>
        </div>

        <div class="list-items">
          <div>
            <div>
              <div class="line-nivel">
                <div class="items-nivel"></div>
                <ion-label class="nivel-text"></ion-label>
              </div>
              <div class="list-item" (click)="logout()">
                <div class="icon-circle">
                  <ion-icon name="log-out" slot="start"></ion-icon>
                </div>
                <ion-label class="opc-name">Cerrar sesión</ion-label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main" [swipeGesture]="false"></ion-router-outlet>
</ion-app>
