<ion-app>
  <ion-menu
    side="start"
    menuId="mprincipal"
    contentId="main"
    [swipeGesture]="false"
  >
    <ion-content class="contentmenu">
      <div class="userdata">
        <div class="user-profile">
          <ion-avatar
            style="border: 2px solid #00b468"
            *ngIf="_sGenerales.user"
          >
            <img [src]="_sGenerales.user.path" />
          </ion-avatar>
          <p class="username" *ngIf="_sGenerales.user">
            {{ _sGenerales.user.name }}
          </p>
        </div>
        <div class="medals-profile">
          <ion-buttons class="btnedit" slot="end" (click)="editarPerfil()">
            <span class="linkedit">Editar perfil</span>
          </ion-buttons>
        </div>
      </div>
      <div class="userdata">
        <ion-label class="useremail" *ngIf="_sGenerales.user">{{
          _sGenerales.user.email
        }}</ion-label>
      </div>

      <div>
        <div class="list-items">
          <div>
            <div>
              <!--   <div class="list-item">
                <div class="icon-circle">
                  <ion-icon name="locate-outline" slot="start"></ion-icon>
                </div>
                <ion-label class="opc-name">Mis lugares visitados</ion-label>
              </div> -->
              <div class="line-nivel">
                <div class="items-nivel"></div>
                <ion-label class="nivel-text"></ion-label>
              </div>

              <div (click)="abreNoticia()" class="list-item">
                <div class="icon-circle">
                  <ion-icon name="newspaper-outline" slot="start"></ion-icon>
                </div>
                <ion-label class="opc-name">Noticias</ion-label>
              </div>

              <!--     <div class="list-item">
                <div class="icon-circle">
                  <ion-icon
                    name="navigate-circle-outline"
                    slot="start"
                  ></ion-icon>
                </div>
                <ion-label class="opc-name">Ubicación</ion-label>
              </div> -->

              <!--         <div class="list-item">
                <div class="icon-circle">
                  <ion-icon name="cloudy-night-outline" slot="start"></ion-icon>
                </div>
                <ion-label class="opc-name">Clima</ion-label>
              </div> -->

              <div class="line-nivel">
                <div class="items-nivel"></div>
                <ion-label class="nivel-text"></ion-label>
              </div>
              <div class="list-item" (click)="logout()">
                <div class="icon-circle">
                  <ion-icon name="log-out" slot="start"></ion-icon>
                </div>
                <ion-label class="opc-name">Cerrar sesión</ion-label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main" [swipeGesture]="false"></ion-router-outlet>
</ion-app>
