<ion-content>
  <div
    (click)="volverLogin()"
    class="ion-text-start t-cancel"
    style="margin-top: 20px; margin-bottom: 20px"
  >
    Regresar
  </div>

  <div class="wraper-container">
    <div class="el-wrapper">
      <div style="text-align: center; margin-top: 20px">
        <img height="150px" src="assets/img/logo-nikav2.png" />
      </div>
    </div>
    <h2 class="ion-text-center welcome-title" style="margin: 0">
      ¿Olvistaste tu contraseña?
    </h2>

    <div style="display: flex; flex-direction: column; align-items: center">
      <form [formGroup]="sendForm" (ngSubmit)="validarCorreo()">
        <div class="inli-fx">
          <ion-item class="itm-input">
            <ion-input
              formControlName="email"
              required
              maxlength="90"
              placeholder="Correo"
            ></ion-input>
          </ion-item>
        </div>

        <div class="ion-text-center">
          <button
            (click)="verifyEmail(loginSlider)"
            expand="block"
            class="btn-empezar"
          >
            Enviar
          </button>
        </div>
        <br />
      </form>
    </div>
    <br />
    <div class="txt-subsub"></div>
    <!-- <div>
      <button>walk1</button>
    </div> -->
    <br />
  </div>
</ion-content>
