<ion-toolbar>
  <ion-buttons
    slot="start"
    menu="mprincipal"
    id="main-content"
    class="menucolor"
  >
    <ion-menu-button>
      <img src="assets/img/Menu.png" />
    </ion-menu-button>
  </ion-buttons>
  <ion-buttons (click)="abrirPerfil()" slot="end">
    <ion-avatar class="perfil" *ngIf="_sGenerales.user">
      <img [src]="_sGenerales.user.path" class="img-e" />
    </ion-avatar>
  </ion-buttons>
</ion-toolbar>

<ion-content class="dash-content bg-white">
  <div
    style="
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-right: 10px;
      margin-left: 10px;
      justify-content: space-evenly;
    "
  >
    <ion-label class="username" *ngIf="_sGenerales.user"
      >¡Bienvenido {{ _sGenerales.user.name }} {{ _sGenerales.user.lastname
      }}!</ion-label
    >

    <!--     <div #map  id="map_canvas" class="map"></div> -->

    <agm-map
      #map
      id="map_canvas"
      class="map"
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)"
    >
      <agm-marker
        *ngFor="let m of nuevoArregloMap; let i = index"
        [latitude]="Number(m.latitud)"
        [longitude]="Number(m.longitud)"
        [label]="String(m.count)"
      ></agm-marker>

      <agm-circle
        *ngFor="let m of nuevoArregloMap; let i = index"
        [latitude]="Number(m.latitud)"
        [longitude]="Number(m.longitud)"
        [radius]="150"
        [fillColor]="m.color"
        [circleDraggable]="false"
        [editable]="false"
      >
      </agm-circle>
    </agm-map>

    <div>
      <ion-item class="itm-input">
        <ion-input
          disabled=""
          required
          maxlength="90"
          [ngModel]="direccion"
          placeholder="Dirección"
        ></ion-input>
      </ion-item>
    </div>
    <div style="width: 100%; display: flex; justify-content: center">
      <button (click)="abrirInfo()" class="btn-empezar">Informar</button>
    </div>
  </div>

  <div
    style="
      border: 1px solid #707070;
      display: flex;
      flex-direction: column;
      border-radius: 22px;
      overflow: scroll;
      height: 40%;
      margin-bottom: 20px;
      margin-inline: 20px;
    "
  >
    <div style="margin-bottom: 10px" *ngFor="let item of comments">
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; flex-direction: row">
          <img [src]="item.user.path" class="img-ex" />
          <p style="color: #090909">
            {{item.user.name}} {{item.user.lastname}}
          </p>
        </div>
        <div style="margin-right: 30px">
          <ion-badge
            *ngIf="item.coment_calificacion == 'Califica'"
            color="primary"
            >Positivo</ion-badge
          >
          <ion-badge
            *ngIf="item.coment_calificacion == 'Reporte'"
            color="danger"
            >Reporte -
            <a style="text-transform: capitalize; color: white">
              {{item.coment_motivo}}</a
            ></ion-badge
          >
          <!--  <p style="color: #090909; margin: 0">
            {{item.created | date:"dd/MM/yy"}}
          </p> -->
        </div>
      </div>
      <div
        style="
          margin-left: 20px;
          margin-right: 20px;
          font-size: 13.5px;
          font-family: 'Roboto';
        "
      >
        <a style="color: #090909; font-weight: 500">{{item.coment_text}}</a>
      </div>
    </div>
    <div class="row" *ngIf="comments?.length <= 0 ">
      <ng-container>
        <div style="padding: 1.5rem; color: var(--text-secondary)">
          <p style="color: black">
            No hay comentarios disponibles en esta dirección...
          </p>
        </div>
      </ng-container>
    </div>
  </div>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="obtenerUbi()"
  >
    <ion-fab-button style="--background: #4ecf97">
      <ion-icon name="location-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
