<ion-content>
  <div
    (click)="volverLogin()"
    class="ion-text-start t-cancel"
    style="margin-top: 20px; margin-bottom: 20px"
  >
    Regresar
  </div>
  <div class="wraper-container">
    <div class="el-wrapper">
      <div style="text-align: center; margin-top: 20px">
        <img height="150px" src="assets/img/logo-nikav2.png" />
      </div>
    </div>
    <h2 class="ion-text-center welcome-title" style="margin: 0">
      ¡Hola Nika usuario!
    </h2>
    <div>
      <ion-slides pager="true" mode="ios" class="slides-messages">
        <ion-slide>
          <app-welcome-message
            [message]="
              'Vamos a ayudarte a ordenar tu presupuesto, proponerte objetivos y celebrar pequeños triunfos todos los días.'
            "
          ></app-welcome-message>
        </ion-slide>
      </ion-slides>
    </div>
    <!--     [options]="slideOpts" -->
    <div>
      <ion-slides pager="false" #loginSlider style="width: 100%">
        <ion-slide style="flex-direction: column">
          <form [formGroup]="form">
            <div class="inli-fx">
              <ion-item class="itm-input">
                <ion-input
                  required
                  maxlength="90"
                  formControlName="email"
                  placeholder="Correo"
                ></ion-input>
              </ion-item>

              <ion-item class="itm-input">
                <ion-input
                  required
                  maxlength="50"
                  formControlName="password"
                  type="password"
                  placeholder="Contraseña"
                ></ion-input>
              </ion-item>
            </div>

            <div class="ion-text-center">
              <button
                (click)="verificarOneForm(loginSlider)"
                expand="block"
                class="btn-empezar"
              >
                Siguiente
              </button>
            </div>
            <br />
          </form>
        </ion-slide>
        <ion-slide style="flex-direction: column">
          <div style="height: 100%">
            <form [formGroup]="form2">
              <div class="inli-fx">
                <ion-item class="itm-input">
                  <ion-input
                    required
                    maxlength="90"
                    formControlName="name"
                    (keypress)="lettersOnly($event)"
                    type="text"
                    placeholder="Nombre"
                  ></ion-input>
                </ion-item>
                <ion-item class="itm-input">
                  <ion-input
                    formControlName="lastname"
                    maxlength="90"
                    (keypress)="lettersOnly($event)"
                    type="text"
                    required
                    placeholder="Apellido"
                  ></ion-input>
                </ion-item>
              </div>

              <div class="ion-text-center">
                <button
                  (click)="verificarTwoForm(loginSlider)"
                  expand="block"
                  class="btn-empezar"
                >
                  Siguiente
                </button>
              </div>
              <br />
            </form>
          </div>
        </ion-slide>

        <ion-slide style="flex-direction: column">
          <div style="height: 100%">
            <form [formGroup]="form3">
              <div class="inli-fx">
                <ion-item class="itm-input">
                  <ion-input
                    formControlName="dni"
                    (keypress)="numberOnly($event)"
                    minlength="8"
                    maxlength="8"
                    type="tel"
                    placeholder="DNI"
                  ></ion-input>
                </ion-item>
                <ion-select
                  style="width: 100%; background-color: white"
                  class="itm-input"
                  formControlName="sexo"
                  placeholder="Género"
                >
                  <ion-select-option value="hombre"
                    >Masculino</ion-select-option
                  >
                  <ion-select-option value="mujer">Femenino</ion-select-option>
                  <ion-select-option value="no especificado"
                    >Prefiero no responder</ion-select-option
                  >
                </ion-select>
              </div>

              <div class="ion-text-center">
                <button
                  (click)="verificarTreeForm(loginSlider)"
                  expand="block"
                  class="btn-empezar"
                >
                  Siguiente
                </button>
              </div>
              <br />
            </form>
          </div>
        </ion-slide>

        <ion-slide style="flex-direction: column">
          <div style="height: 100%">
            <form [formGroup]="form4">
              <div class="inli-fx">
                <ion-select
                  style="width: 100%; background-color: white; color: black"
                  class="itm-input"
                  formControlName="departamento"
                  placeholder="Departamento"
                  (ionChange)="getProvincias()"
                >
                  <ion-select-option
                    [value]="d"
                    *ngFor="let d of departamentos"
                    >{{ d.departamento }}</ion-select-option
                  >
                </ion-select>

                <ion-select
                  style="width: 100%; background-color: white; color: black"
                  class="itm-input"
                  formControlName="provincia"
                  placeholder="Provincia"
                  (ionChange)="getDistritos()"
                >
                  <ion-select-option *ngFor="let p of provincias" [value]="p">{{
                    p.provincia
                  }}</ion-select-option>
                </ion-select>

                <ion-select
                  style="width: 100%; background-color: white; color: black"
                  class="itm-input"
                  formControlName="distrito"
                  placeholder="Distrito"
                >
                  <ion-select-option *ngFor="let d of distritos" [value]="d">{{
                    d.distrito
                  }}</ion-select-option>
                </ion-select>
              </div>

              <div class="ion-text-center">
                <button (click)="save()" expand="block" class="btn-empezar">
                  Registrar
                </button>
              </div>
              <br />
            </form>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
