/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: Roboto;
  src: url(assets/font/Roboto-Light.ttf) format("opentype");
}

.wave1 {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 6.47em;
  /* zoom: 0.75; */
  top: 0;
  left: 0;
  right: 0;
  background-repeat: repeat-x;
  background: url("assets/img/arriba.png");
}

.wave2 {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 5.47em;
  /* zoom: 0.75; */
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat-x;
  background: url("assets/img/abajo.png");
}
.slide-bg {
  background: url(assets/img/screen-1.png);
}
.slide-bg2 {
  background: url(assets/img/screen2.png);
}
.slide-bg3 {
  background: url(assets/img/screen3.png);
}
.sc-ion-input-md-h {
  --padding-top: 0px;
  --padding-end: 0;
  --padding-bottom: 10px;
  --padding-start: 8px;
  font-size: inherit;
}
.swiper-pagination-bullet-active {
  background: #c90000 !important;
}
